<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Header -->
    <div id="header" class="grid_12">

      <h1>Header</h1>

    </div>
    <!-- Header END -->


    <!-- Main Body -->
    <div id="content" class="grid_12">

      <% if flash[:error].present? %>
        <div data-alert class="grid_12 callout warning">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% if flash[:success].present? %>
        <div data-alert class="grid_12 callout success">
          <%= flash[:success] %>
        </div>
      <% end %>

      <div class="centered"> <!-- Remove if non fixed width -->


                                                        <%= yield %>

      </div>

    </div>
    <!-- Main Body END -->


    <!-- Footer -->
    <div id="footer" class="grid_12">

      <h3>Footer</h3>

    </div>
    <!-- Footer END -->

  </body>
</html>
